.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.ant-modal-footer {
  display: none;
}

.button-block {
  align-items: flex-start;
  justify-content: flex-start;
}

.send-btn,
.back-btn {
  margin-right: 20px;
}

.send-btn>span,
.back-btn>span {
  margin-right: 10px;
}